{% load bootstrap5 %}

{% bootstrap_css %}

{% bootstrap_javascript %}

{% bootstrap_messages %}
{% block content %}
<div>


<table  class="table table-dark table-striped-columns">



<tr class="table table-dark table-striped-columns">
{%  for i in n.keys %}
<th class="table table-dark table-striped-columns">{{i}}</th>
{% endfor %}
</tr>
<tr class="table table-dark table-striped-columns">
       {% for j in n.values %}
       <td class="table table-dark table-striped-columns">
        {{j}}
       </td>
       {% endfor %}
</tr>

</table>
</div>
{% endblock content %}