<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="style.css">


    <script defer src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script defer scr="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap5.min.js"></script>
    <script defer src="script.js"></script>



    <title>Document</title>
</head>
<body>
    <div class="container w-50 pt-5">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>class</th>
                <th>matiere</th>
                <th>note_ds</th>
                <th>note_examen</th>
                <th>moyenne</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>nada ouledbouhada</td>
                <td>cpi2</td>
                <td>python</td>
                <td>19</td>
                <td>19</td>
                <td>19</td>
            </tr>
            <tr>
                <td>rahma </td>
                <td>cpi2</td>
                <td>python</td>
                <td>18</td>
                <td>18</td>
                <td>18</td>
            </tr>
            <tr>
                <td>ghaith</td>
                <td>cpi2</td>
                <td>python</td>
                <td>18.5</td>
                <td>18.5</td>
                <td>18.5</td>
            </tr>
            <tr>
                <td>yassmine </td>
                <td>cpi2</td>
                <td>python</td>
                <td>15</td>
                <td>15</td>
                <td>15</td>
            </tr>
            <tr>
                <td>omar</td>
                <td>cpi2</td>
                <td>python</td>
                <td>14</td>
                <td>14</td>
                <td>14</td>
            </tr>
        </tbody>
       
        </tfoot>
        </table>  
    </div>
  
</body>

</html>



