{% load django_bootstrap5 %}

{% bootstrap_css %}

{% bootstrap_javascript %}

{% bootstrap_messages %}
{% block content %}
<div>


<table  class="table table-dark table-striped-columns">

       {%  for i in subs %}

<tr class="table table-dark table-striped-columns">

<th class="table table-dark table-striped-columns">{{i.subject}}</th>
</tr>
<tr class="table table-dark table-striped-columns">

       <td class="table table-dark table-striped-columns">
        {{i.note_ds}}
       </td>

       <td class="table table-dark table-striped-columns">
       {{i.note_ex}}
       </td>
       
     
</tr>
{% endfor %}

</table>
</div>
{% endblock content %}